<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISGECVault.My.MySettings.IJTPerksConnectionString"
            connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Persist Security Info=True;User ID=sa;Password=isgec12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>